.inner{
    border:  2px solid green;
    margin: 10px;
    width: 30%;
    padding: 10px;
}

.name_Occupation{
    display: flex;
}

p{
    text-align: justify;
}

h3{
    text-align: center;
}

.my_image{
    margin: 40px ;
    display: flex;
    justify-content: center;
}
img{
    width: 30%;
    border-radius: 50%;
}